<div class="card" style="width: 18rem; align:center;">
  <div class="card-body">
    <h5 class="card-title">Friend <%=@friend.id%></h5>
    <p><strong>First name :</strong><%= @friend.first_name %></p>
    <p><strong>Last name: </strong><%= @friend.last_name %></p>
    <p><strong>Email: </strong><%= @friend.email %></p>
    <p><strong>Phone: </strong><%= @friend.phone %></p>
    <p><strong>Twitter: </strong><%= @friend.twitter %></p>

    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-success"%>
    <%= link_to 'Back', friends_path, class:"btn btn-success"%>
  </div>
</div>
